.display-4
  font-size: $headings.h1.size !important

.display-3
  font-size: $headings.h2.size !important

.display-2
  font-size: $headings.h3.size !important

.display-1
  font-size: $headings.h4.size !important

.headline
  font-size: $headings.h5.size !important

.title
  font-size: $headings.h6.size !important

.subheading
  font-size: $headings.subheading.size !important

.body-1
  font-size: $headings.body-1.size !important

.body-2
  font-size: $headings.body-2.size !important

.caption
  font-size: $headings.caption.size !important

.overline
  font-size: $headings.caption.size !important

.btn
  font-size: $headings.button.size
  font-weight: $headings.button.weight

p
  margin-bottom: $spacers.three.y